footer{
    width: 100%;
    min-height: 70vh;
    background: $darkBlue;


    #wrapper{
    margin-top: 150px;
    border: none;
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background-image: url("/assets/images/logo-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 5% 0px;

        h4{
            color: rgba($color:#ffffff, $alpha:0.5);
            margin-bottom: 20px;
        }
    
        p, a{
            color: $white;
        }
    
        #about{
            width: 35%;
            color: $white;
            a{
                display: inline-block;
                margin-bottom: 20px;
                width: 40%;
            }
        }
        #company{
    
        }
    
        #contact{
            a{
                color: $gold;
            }
        }
    
        }
    
        ul{
            margin-top: 10px;

            li{
                margin-bottom: 10px;
            }
        }
    }

@media screen and (max-width:900px) {
    footer{    
        #wrapper{
        display: flex;
        flex-direction: column;
         margin-top: 0px;

    
            h4{
                color: rgba($color:#ffffff, $alpha:0.5);
                margin-bottom: 10px;
            }
        
            #about{
                width: 90%;
                margin-bottom: 50px;

                a{
                    width: 30%;
                }
            }
            #company{
                margin-bottom: 50px;
        
            }
        
            #contact{
        
            }
        
            ul{
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
}