@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins";
    font-size: 17px;
    color: $darkerBlue;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    background: $white;
}
header{
    padding: 20px 5%;
}
section{
    padding: 10% 5%;
    margin-top: 20px;
}
footer{
    padding: 15% 5%;
}
a{
    color: $darkerBlue;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 3.8em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    font-weight: 550;
}
h4{
    font-size: 1.2em;
    font-weight: 500;
}
h5{
    font-size: 1.1em;
    font-weight: 500;
}
p{
    font-size: 17px;
}
button{
    display: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
#btn-action{
    padding: 15px 35px;
    color: $white;
    text-decoration: none;
    border-radius: 10px;
    user-select: none;
    font-weight: 600;
    font-size: 1.3em;
}


@media screen and (max-width:760px) {
    // header{
    //     padding: 20px 5%;
    // }
    // section{
    //     padding: 10% 5%;
    //     margin-top: 20px;
    // }
    // footer{
    //     padding: 15% 5%;
    // }
    h1{
        font-size: 3em;
    }
}