@import 'variables';

header{
    width:100%;
    background: $background;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;

    &.scroll{
        background: $white;
        box-shadow: -2px 0px 6px $lightGrey;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo{
            width: 15%;
            img{
                width: 100%;
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;

            list-style: none;

            li{
                a{
                    font-weight: 600;
                }

            }
        }
    }

    button{
        width:50px;
        height:50px;
        display: none;

        img{
            width: 100%;
        }
    }
}
#spacer{
    height: 96px;
    width: 100%;
}
@media screen and (max-width:1050px) {
    header{
        nav{
            #logo{
                width: 25%;
            }
            ul{
                position: fixed;
                top: 90px;
                left: 0px;
                z-index: 5;

                background: $white;
                width: 0%;
                height: 90vh;
                opacity: 0;
                padding: 100px 6%;

                overflow: hidden;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                
                transition: all .15s ease-in;

                border-top: 3px solid $gold;

                li{
                    margin-bottom: 40px;
                }
            }
        }

        button{
            display: block;
        }

        .show{
            width: 100%;
            opacity: 1;
        }
    }
    #spacer{
        height: 90px;
    }
}

@media screen and (max-width:500px) {
    header{
        nav{
            #logo{
                width: 30%;
            }
            ul{
                position: fixed;
                top: 90px;
                left: 0px;
                z-index: 5;

                background: $white;
                width: 0%;
                height: 90vh;
                opacity: 0;
                padding: 100px 6%;

                overflow: hidden;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                
                transition: all .15s ease-in;

                border-top: 3px solid $gold;

                li{
                    margin-bottom: 40px;
                }
            }
        }

        button{
            display: block;
        }

        .show{
            width: 100%;
            opacity: 1;
        }
    }
}