#team{
   
    h1{
        text-align: center;
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 3rem;
    }
}

.team{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
    
    .member{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        // padding: 35px;
        border-radius: 10px;
       h3{
        font-size: 1rem;
        // margin-top: 20px;
       }
        .desc{
            min-height:200px;
            font-size: .8rem;
            opacity: 0.9;
            text-align: justify;
            margin-bottom: 15px;
        }
    }
    .img-wrapper{
        width: 100%;
        // background: red;
        padding: 1px;
        height: 400px;
        overflow: hidden;

        .m-picture{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width:100%; 
            // background-position: top;
            object-fit: cover;
        }

    }
    .team-dtls{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // position: relative;
    img{
        width: 30px;
    }
}

.director{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items:center;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 10px;
   
    overflow: hidden;
    .m-picture{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
        width:100%; 
        background-size: cover;
        background-position: center;
        // object-fit: cover;
        // border: 4px solid #003B65;
    }
    .director-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
        h3{
            font-size: 2rem;
        }
       .desc{
        min-height:200px;
            font-size: .8rem;
            opacity: 0.9;
            text-align: justify;
            margin-bottom: 15px;
       }
    }
   
}