@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  font-size: 17px;
  color: #010336;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background: #ffffff;
}

header {
  padding: 20px 5%;
}

section {
  padding: 10% 5%;
  margin-top: 20px;
}

footer {
  padding: 15% 5%;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 550;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-size: 1.1em;
  font-weight: 500;
}

p {
  font-size: 17px;
}

button {
  display: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

#btn-action {
  padding: 15px 35px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 1.3em;
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 3em;
  }
}

header {
  width: 100%;
  background: rgba(1, 3, 54, 0.1);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo {
  width: 15%;
}

header nav #logo img {
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  list-style: none;
}

header nav ul li a {
  font-weight: 600;
}

header button {
  width: 50px;
  height: 50px;
}

header button img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  header nav #logo {
    width: 25%;
  }
  header nav ul {
    position: fixed;
    top: 90px;
    left: 0px;
    z-index: 5;
    background: #ffffff;
    width: 0%;
    height: 90vh;
    opacity: 0;
    padding: 100px 6%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    border-top: 3px solid #ffbf00;
  }
  header nav ul li {
    margin-bottom: 40px;
  }
  header button {
    display: block;
  }
  header .show {
    width: 100%;
    opacity: 1;
  }
}

section#welcome {
  height: 100vh;
  position: relative;
  padding: 20px 5%;
  background: rgba(1, 3, 54, 0.1);
  margin-top: 0px;
}

section#welcome #dots-fade {
  position: absolute;
  top: 40px;
  z-index: -3;
  width: 20%;
}

section#welcome #welcome-dots {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 3;
  width: 33%;
}

section#welcome #intro {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#welcome #intro h1 {
  margin-top: 30px;
}

section#welcome #intro #intro-note {
  margin: 30px 0px;
  width: 80%;
  font-size: 18px;
}

section#welcome #intro #btn-action {
  display: inline-block;
  background-color: #010336;
  margin-top: 30px;
}

@media screen and (max-width: 1140px) {
  section#welcome #welcome-dots {
    display: none;
  }
  section#welcome #intro {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  section#welcome #welcome-dots {
    display: none;
  }
  section#welcome #intro {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#welcome #intro h1 {
    margin: 20px 0px;
    margin-top: 60px;
    text-align: center;
  }
  section#welcome #intro #intro-note {
    margin: 30px 0px;
    text-align: center;
  }
  section#welcome #intro #btn-action {
    display: inline-block;
    background-color: #010336;
    margin-top: 60px;
  }
}

section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffffff;
}

section#about #image {
  margin-right: 5%;
  width: 40%;
}

section#about #intro {
  width: 55%;
}

section#about #intro h3 {
  margin-bottom: 100px;
}

section#about #intro p {
  letter-spacing: 1px;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  section#about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#about #image {
    width: 65%;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  section#about #intro {
    width: 100%;
    text-align: center;
  }
  section#about #intro h3 {
    margin-bottom: 50px;
  }
}

section#what-we-do {
  position: relative;
  top: 0;
  left: 0;
}

section#what-we-do #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#what-we-do #header h3 {
  width: 60%;
}

section#what-we-do #header div a {
  color: #0006b1;
}

section#what-we-do #bg {
  width: 100%;
  height: 120vh;
  background: rgba(1, 3, 54, 0.1);
  position: absolute;
  left: 0;
  z-index: -1;
  top: 420px;
}

section#what-we-do #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

section#what-we-do #container .box {
  width: 45%;
  -webkit-box-shadow: 0px 6px 24px #bdbdbd;
          box-shadow: 0px 6px 24px #bdbdbd;
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 70px 40px;
  background: #ffffff;
}

section#what-we-do #container .box img {
  width: 25%;
}

section#what-we-do #container .box h4 {
  margin: 20px 0px;
  font-weight: 500;
}

section#what-we-do #container .box p {
  height: 140px;
}

@media screen and (max-width: 900px) {
  section#what-we-do #header h3 {
    width: 70%;
  }
  section#what-we-do #container .box {
    width: 47%;
  }
  section#what-we-do #container .box img {
    width: 35%;
  }
  section#what-we-do #container .box h4 {
    height: 40px;
    margin: 30px 0px;
  }
  section#what-we-do #container .box p {
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  section#what-we-do #header h3 {
    width: 90%;
    text-align: center;
  }
  section#what-we-do #header div {
    display: none;
  }
  section#what-we-do #bg {
    height: 310vh;
  }
  section#what-we-do #container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  section#what-we-do #container .box {
    width: 90%;
  }
}

section#why-us {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: auto;
}

section#why-us h3 {
  margin-bottom: 50px;
  text-align: right;
  width: 50%;
  margin: 0px auto;
  margin-right: 0px;
}

section#why-us #ball {
  position: absolute;
  width: 60%;
  right: 0px;
  top: 0px;
}

section#why-us #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

section#why-us #container div#left {
  width: 40%;
}

section#why-us #container div#right {
  width: 40%;
  margin-top: 100px;
}

section#why-us #container article {
  margin-bottom: 50px;
}

section#why-us #container article img {
  width: 10%;
}

section#why-us #container article h5 {
  margin: 15px 0px;
}

@media screen and (max-width: 1100px) {
  section#why-us h3 {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  section#why-us h3 {
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  section#why-us #ball {
    width: 80%;
  }
  section#why-us #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    text-align: center;
  }
  section#why-us #container div#left {
    width: 80%;
  }
  section#why-us #container div#right {
    width: 80%;
    margin-top: 0px;
  }
}

section#talk {
  background: #e4e4e4;
  position: relative;
  top: 0px;
  height: 10px;
  padding: 0px;
  margin-top: 80px;
}

section#talk #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  padding: 8% 5%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-box-shadow: -1px -1px 1px lightgrey;
          box-shadow: -1px -1px 1px lightgrey;
  border: 1px solid #eeeeee;
  width: 80%;
  margin: 0px auto;
  position: absolute;
  top: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

section#talk #container #btn-action {
  background: #ffbf00;
  padding: 10px 40px;
}

@media screen and (max-width: 1000px) {
  section#talk {
    background: #e4e4e4;
    position: static;
    top: 0px;
    height: auto;
    margin: 50px auto;
  }
  section#talk #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0px;
    -webkit-box-shadow: -1px -1px 1px lightgrey;
            box-shadow: -1px -1px 1px lightgrey;
    border: 1px solid #eeeeee;
    width: 100%;
    margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  section#talk #container #btn-action {
    margin-top: 30px;
  }
}

footer {
  width: 100%;
  min-height: 70vh;
  background: #003B65;
}

footer #wrapper {
  margin-top: 150px;
  border: none;
  border-top: 2px solid #ffbf00;
  border-bottom: 2px solid #ffbf00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("/assets/images/logo-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5% 0px;
}

footer #wrapper h4 {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

footer #wrapper p, footer #wrapper a {
  color: #ffffff;
}

footer #wrapper #about {
  width: 35%;
  color: #ffffff;
}

footer #wrapper #about a {
  display: inline-block;
  margin-bottom: 20px;
  width: 40%;
}

footer #wrapper #contact a {
  color: #ffbf00;
}

footer ul {
  margin-top: 10px;
}

footer ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  footer #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  footer #wrapper h4 {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
  footer #wrapper #about {
    width: 90%;
    margin-bottom: 50px;
  }
  footer #wrapper #about a {
    width: 30%;
  }
  footer #wrapper #company {
    margin-bottom: 50px;
  }
  footer #wrapper ul li {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */